@charset "utf-8";

html, body {
  min-height: 100%;
}

/* WEB ICON FONT
  (the social icons that appear
  in the upper-right corner)
------------------------------------------ */
@font-face {
  /*  font-family: 'Social Icons';
    src: url("font/socialico-webfont.eot");
    src: url("font/socialico-webfont.eot?#iefix") format("embedded-opentype"),
    url("font/socialico-webfont.woff") format("woff"),
    url("font/socialico-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; */
}

@font-face {
  font-family: 'Alex Brush';
  src: url('../fonts/AlexBrush-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* GENERAL (APPLIED TO ELEMENTS)
------------------------------------------ */
body {
  font-family: 'Raleway';
  font-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
  /*background-color: #fdf7f2;*/
  background-color: #fdfaf6;
}

.subhead {
  font-style: italic;
  margin-top: -.5em;
}

ul,
ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.more:after {
  content: ' »';
}

#boxshadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
  padding: 10px;
  background: white;
  margin: 0.19em;
}

/* Make the image fit the box */
#boxshadow img {
  width: 100%;
  border: 1px solid #8a4419;
  border-style: inset;
}

#boxshadow::after {
  content: '';
  position: absolute;
  z-index: -1; /* hide shadow behind image */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  width: 70%;
  left: 15%; /* one half of the remaining 30% */
  height: 100px;
  bottom: 0;
}

/* tests */
button.hide-me {
  display: none;
}

/* CONTAINERS
------------------------------------------ */
.page {
  margin: 0 auto;
  max-width: 960px;

  animation: fadein .8s;
  -moz-animation: fadein .8s; /* Firefox */
  -webkit-animation: fadein .8s; /* Safari and Chrome */
  -o-animation: fadein .8s; /* Opera */

  /*overflow: hidden;*/
}

main {
  /*
  float: left;
  width: 600px; */
}

.sidebar {
  /*float: right;
  margin-top: 1.875em;
  width: 300px;*/
}

/* MASTHEAD
------------------------------------------ */
.masthead, .masthead-1 {
  font-family: 'Alex Brush';
  font-size: 1.1em;
  margin-top: .5em;
}

.masthead h1 {
  text-align: center;
}

.masthead-1 h1 {
  text-align: center;
  margin-top: 0;
  padding-left: 90px;
}

.masthead h2, .masthead-1 h2 {
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  margin-top: -1.4em;
  font-size: .8em;
  text-align: center;
  margin-bottom: -0.8em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

#searchKw {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: Raleway;
  font-style: normal;
  font-size: small;
}

.dropbtn {
  border: none;
  color: black;
  background-color: #fdfaf6;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #F8F8F8;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #F0F0F0;
}

#myAccount, #searchFormButton {
  float: right;
  background-color: #fdfaf6;
  border: none;
  font-family: Raleway;
  font-style: normal;
  font-size: small;
  text-decoration: none;
  margin-bottom: 20px;
}

#searchFormButton {
  font-weight: bold;
}

/* ::: Main Navigation ::: */
.nav-main {
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding: .4em 0 .4em;
}

.nav-main li {
  /*border-left: 1px solid #c8c8c8;*/
  display: inline-block;
}

.nav-main li:first-child {
  border-left: none;
}

.nav-main li:last-child a {
  padding-right: 0;
}

.nav-main a {
  display: inline-block;
  font-size: 1.2em;
  padding: .2em .9em .5em 1.15em;
}

.nav-main a:hover {
  color: #029443;
  text-decoration: none;
}

.nav-main .current-page,
.nav-main .current-page:hover {
  color: #747474;
  cursor: default;
}

/* MAIN CONTENT
------------------------------------------ */

.repositH1 {
  font-size: x-large;
  text-align: right;
  float: left;
  width: 63%;
}

#repositX {
  font-weight: bold;
  width: 15%;
  float: right;
  text-align: right;
  cursor: pointer;
  padding-top: 25px;

}

.repositFieldset {
  width: 97.3%;
  height: 400px;
}

.repositGoButton {
  background-color: #fdfaf6;
  float: right;
}

.repositLevelLabel, .repositTypeLabel, .repositAuthorLabel, .repositDecadeLabel, .repositYearLabel, .repositNameLabel {
  color: black;
  background-color: #fdfaf6;
  width: 20%;
  float: left;
  text-align: right;
  margin-left: 0;
  margin-right: 10px;
}

#repositSelectType, #repositSelectLevel, #repositSelectAuthor, #repositSelectDecade, #repositSelectYear, #repositTitle {
  display: block;
  background-color: #F8F8F8;
}

main > .post:first-child > h1 {
  /* margin-top: 0.904em;*/
}

.gallery img {
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: .4s;
}

.post img {
  display: block;
  max-width: none;
  box-shadow: 6px 6px 10px grey;
  opacity: 1;
}

/* Archives + Readings*/
#family-left, #family-right {
  display: block;
  font-style: italic;
  font-size: .9em;

  margin-bottom: .7em;
}

#family-left {
  float: left;
  margin-left: -3em;
  font-weight: bold;
  text-decoration: underline;
}

#family-right {
  text-align: right;
  font-weight: normal;
}

/* REAGINGS HTML AND A BIT OF OBJECTS
 ************************************/
main .readings {
  font-weight: bold;
}

main .title {
  font-weight: bold;
  margin-top: 0;
}

p.sumary {
  font-weight: normal;
  font-size: 1.12em;
}

main .books, .objects {
  width: 15%;
  float: left;
  height: auto;
  margin-right: 1.5em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 15px grey;
}

.summary a {
  text-decoration: underline;
  color: blue;
}

/* OBJECTS.HTML
***************/
main .description {
  margin-top: 0;
}

/* SIDEBAR
------------------------------------------ */
.mod h2 {
  /*border-bottom: 1px solid #dbdbdb;
  margin-top: 2.571em;
  padding-bottom: .75em;*/
}

/* ::: About Me ::: */
.about {
  width: 18%;
  float: left;
  border: 1px solid black;;
  /*background: #2b2b2b; */
  padding: 0.313em 0.625em 0.625em;
  margin-right: 0.5em;
}

.about img {
  display: block;
  width: 75%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 18% 18% 7% 7%;
  box-shadow: 4px 4px 20px grey;
}

.about .signature {
  box-shadow: none;
  border-radius: unset;
  border: none;
  float: right;
}

.about h2,
.about p {
  color: black;
  text-align: left;
}

.about p {
  font-size: 0.813em;
  line-height: 1.4;
}

.map {
  /*margin: 1.438em 0 0.813em;*/
}

/* ::: Previous and Shared Posts ::: */
.links {
  /* margin: 1.5em 0 4.125em;
   padding-left: 0;
   width: 270px;*/
}

.links li {
  /* margin-bottom: 1.1em;*/
}

.links a {
  /* font-size: 1.125em;
   line-height: 1.195;*/
}

#imgs > div {
  /*width: ; !* Declare your value. Can be in relative units. *!*/
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
  margin-bottom: 10px;
  /*margin-top: -20px;*/
  padding: 7px;

  box-shadow: 4px 4px 10px grey;
  /* IE fix. */
  *display: inline;
  zoom: 1;
}

#imgs:after {
  content: "";
  width: 100%;
  display: inline-block;
}

/*** ... Fade-in animation ***/
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

/* THE MODAL
**********************************/
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
}

/* Content (image) */

#idGeneolCont {
  width: 80%;
  margin: auto;
}

#photoId p {
  position: fixed;
  bottom: 30px;
  left: 45px;
  margin: 0;
  font-size: small;
  color: #bbbbbb;
}

#geneol {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  height: 150px;
  font-size: .8em;
}

#geneol a {
  color: aqua;
}

#geneol p {
  color: white;
}

.modal-content {
  background-color: #fefefe;
  padding: 5px;
  border: 1px solid #888;
  margin: auto;
  /*margin-left: 75px;*/
  display: block;
  max-width: 100%;
  max-height: 80%;
}

.modal a {
  color: white;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding-bottom: 12px;
  /*height: 150px;*/
}

/* Title of Modal Image */
#modalTitle {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0 0;
}

/* Add Animation */
.modal-content, #caption, #modalTitle {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

#previous {
  position: relative;
  float: left;
  top: 40%;
}

#next {
  position: relative;
  float: right;
  top: 40%;
}

/* The Close Button */
.close, .downloadImage {
  position: absolute;
  top: 22px;
  right: 35px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.downloadImage {
  top: 30px;
  right: 75px;
  width: 24px;
  height: 24px;
}

.close:hover,
.close:focus, .downloadImage:hover, .downloadImage:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* Back to Tree */
#backToTree {
  float: right;
  cursor: pointer;
  border: none;
  background: none;
  display: none;
  margin-bottom: .5em;
}

/* Back to Search */
#backToSearch {
  float: right;
  cursor: pointer;
  border: none;
  background: none;
  display: none;
  margin: 0;
}

#thumbTitle {
  float: left;
  display: none;
  font-weight: bold;
  border: none;
  margin: 0;
}

/* DROPDOWN LIST
**********************************/

/* Functionality */
.item ul, input[type="checkbox"] {
  display: none;
}

.item input:checked ~ ul {
  display: block;
}

.multi-level0, .multi-level1, .multi-level2, .multi-level3, .multi-level4, .multi-level5,
.multi-level6, .multi-level7, .multi-level8, .multi-level9 {
  display: none;
}

#menu0:checked ~ .multi-level0, #menu1:checked ~ .multi-level1, #menu2:checked ~ .multi-level2, #menu3:checked ~ .multi-level3,
#menu4:checked ~ .multi-level4, #menu5:checked ~ .multi-level5, #menu6:checked ~ .multi-level6, #menu7:checked ~ .multi-level7,
#menu8:checked ~ .multi-level8, #menu9:checked ~ .multi-level9 {
  display: block;
}

.sub-item ul li:hover, .itemL2 li:hover {
  background-color: lightgrey;
  cursor: pointer;
}

/* Arrow */
.arrow {
  width: 6px;
  height: 6px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  margin: 8px .5em 0 10em;
}

.item input + .arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}

.item input:checked + .arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}

label:hover {
  cursor: pointer;
}

.names:before {
  content: "•";
  margin-right: 0.5em;

}

#thumbContainer {
  margin-top: -.2em;
  overflow: hidden;
}

/*** Family Photos ***/
#thumbContainer #imgs {
  text-align: justify;
}

#imgs .thumbimg {
  margin: 1px;
}

.names {
  display: block;
  text-align: left;
}

.drop-down label {
  width: 100%;
  display: block;
  z-index: 3;
  position: relative;
}

.sub-item {
  padding: 0 .2em;
}

.drop-down {
  width: 100%;
  overflow-x: hidden;
  background-color: #fdfaf6;
}

.drop-down ul {
  line-height: 20px;
  margin: 0;
  padding: 0 2em;
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
}

.drop-down li {
  line-height: 20px;
  margin: 0;
  padding: 0 2em 0 5em;
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
}

.photofolder:before {
  content: "-";
  margin-right: 0.5em;
}

.drop-down .photofolder.L2 {
  padding-left: 8em;
}

.drop-down .photofolder {
  margin: 0;
  padding-left: 13em;
  padding-bottom: 0.15em;
  font-style: italic;
}

label {
  line-height: 20px;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
  padding-bottom: .4em;
}

.item ul {
  padding: 0 0.25em;
}

/* SEARCH PHOTOS
 *********************************/
.searchPhotos {
  padding-bottom: 1em;
  font-size: small;
}

.search label {
  display: inline-block;
  padding-right: 0.3em;
  text-align: left;
  width: auto;
}

.search {
  padding-left: 0.4em;
}

.yearChoiceStart {
  width: 100%;
  margin-top: 1.4em;
}

.yearChoiceEnd {
  margin-right: .6em; /* to align boxes */
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px groove;
}

#keywrds {
  margin: .5em 0 0 0;
  width: 70%;
  float: left;
}

.radio, .radio label, .context, .context label {
  margin-bottom: 0;
  padding: 0;
}

.pidContext {
  width: 50%;
}

#searchCb input[type="checkbox"] {
  display: inline-block;
}

#searchCb {
  margin-bottom: 1.3em;
  text-align: left
}

#searchCb input {
  margin: 0 0 .6em 1px;
}

#goButton {
  width: auto;
  background-color: white;
  border: none;
  float: right;
  padding: 5px;
  margin-top: -8px;
  border: 1px solid lightgrey;
}

/* LEGACY
**********************************/
.legacycontainerMichel, .legacycontainerChantal {
  width: 50%;
  float: left;
}

.legacycontainerMichel h3, .legacycontainerChantal h3 {
  margin-left: 3em;
  /*text-align: center;*/
}

.legacyItems {
  display: list-item;
  /*font-weight: bold;*/
  font-style: italic;
}

.legacy a {
  padding: 0;
  margin: 0;
}

.legacyItems li {
  padding: 0 0 7px;
  margin-left: 1em;
}

.legacy li:hover {
  background: #eee;
  cursor: pointer;
}

/*fieldset {
  background-color: #f1f1f1;
  border: none;
  border-radius: 2px;
  margin-bottom: 12px;
  overflow: hidden;
  padding: 0 .625em;
}*/
/*
.radios {
  background-color: transparent;
  position: relative;
  margin-bottom: 0;
}

.radios .row {
  margin: 0 0 0 150px;
}

.radios legend {
  left: 0;
  padding: 0 6px;
  position: absolute;
  text-align: right;
  top: 2px;
  width: 148px;
}

.radios label {
  padding-left: 2px;
  margin-right: 5px;
  vertical-align: middle;
  width: auto;
}*/

/*.fields {
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin: .75em;
  padding: .75em;
}*/

/*.fields .row {
  margin: 0.5em 0;
}

.find-photos h2 {
  background-color: #0d95e8;
}*/
/*
input, select, button {
  font-size: inherit;
}*/

/* Various form field widths */
/*.field-small {
  width: 75px;
}

.field-medium {
  width: 150px;
}

.field-large {
  width: 250px;
}*/

/* End Search Photos */

/* End Family Photos */

/* FOOTER
------------------------------------------ */
footer[role="contentinfo"] {
  /*border-top: 1px solid #cacbcb;*/
}

/* html5boilerplate.com Clearfix
--------------------------------- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}


