@charset "utf-8";

html, body {
  min-height: 100%;
}

/* WEB ICON FONT
  (the social icons that appear
  in the upper-right corner)
------------------------------------------ */
@font-face {
  /*  font-family: 'Social Icons';
    src: url("font/socialico-webfont.eot");
    src: url("font/socialico-webfont.eot?#iefix") format("embedded-opentype"),
    url("font/socialico-webfont.woff") format("woff"),
    url("font/socialico-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal; */
}

@font-face {
  font-family: 'Alex Brush';
  src: url('../fonts/AlexBrush-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein { /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein { /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Dropdown List */

/* Functionality */
.multi-level, .item ul, .drop-down input[type="checkbox"] {
  display: none;
}

#menu:checked ~ .multi-level, .item input:checked ~ ul {
  display: block;
}

/* Arrow */
.arrow {
  width: 6px;
  height: 6px;
  vertical-align: middle;
  float: left;
  z-index: 0;
  margin: 8px .5em 0 2em;
}

.item input + .arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}

.item input:checked + .arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}

/* End dropdown list */

/* GENERAL (APPLIED TO ELEMENTS)
------------------------------------------ */
body {
  font-family: 'Raleway';
  font-size: 100%;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;
}

.subhead {
  font-style: italic;
  margin-top: -.5em;
  /*padding-left: 14em;*/
  /*margin-bottom: 1.4em;*/
}

.about h2,
.mod h2,
.nav-main a {
  /*font-family: 'Open Sans', sans-serif;*/
  /* font-weight: 600; */
  /*text-transform: uppercase;*/
}

.about h2,
.mod h2 {
  /*font-size: .875em; !* 15px/16px *!*/
}

ul,
ol {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.more:after {
  content: ' »';
}

#boxshadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .4);
  padding: 10px;
  background: white;
  margin: 0.19em;
}

/* Make the image fit the box */
#boxshadow img {
  width: 100%;
  border: 1px solid #8a4419;
  border-style: inset;
}

#boxshadow::after {
  content: '';
  position: absolute;
  z-index: -1; /* hide shadow behind image */
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  width: 70%;
  left: 15%; /* one half of the remaining 30% */
  height: 100px;
  bottom: 0;
}

/*
img {
  display: block;
  border: 2px solid black;
  margin-right: 12px;
}
*/

/* tests */
button.hide-me {
  display: none;
}

/* CONTAINERS
------------------------------------------ */
.page {
  margin: 0 auto;
  max-width: 960px;

  animation: fadein .8s;
  -moz-animation: fadein .8s; /* Firefox */
  -webkit-animation: fadein .8s; /* Safari and Chrome */
  -o-animation: fadein .8s; /* Opera */

  /*overflow: hidden;*/
}

.container {
  /*background: url(../img/bg.png) repeat-y 629px 0;
  padding-bottom: 1.9375em;*/
}

main {
  /*
  float: left;
  width: 600px; */
}

.sidebar {
  /*float: right;
  margin-top: 1.875em;
  width: 300px;*/
}

/* MASTHEAD
------------------------------------------ */
/* To freeze the header
.header-cont {
   width:960px;
   position:fixed;
   top:0px;
 }
*/

.masthead {
  font-family: 'Alex Brush';
  font-size: 1.1em;
  margin-top: .5em;
  text-align: center;
}

.masthead h2 {
  font-family: Raleway;
  font-style: italic;
  font-weight: normal;
  margin-top: -1.4em;
  font-size: .8em;
  text-align: center;
  margin-bottom: -0.8em;
}

/* ::: Main Navigation ::: */
.nav-main {
  /*border-top: 0.15em solid black;*/
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  padding: .4em 0 .4em;
}

.nav-main li {
  /*border-left: 1px solid #c8c8c8;*/
  display: inline-block;
}

.nav-main li:first-child {
  border-left: none;
}

.nav-main li:last-child a {
  padding-right: 0;
}

.nav-main a {
  display: inline-block;
  font-size: 1.2em;
  /*font-weight: bold;*/
  padding: .2em .9em .5em 1.15em;
  /*color: #292929;*/
}

.nav-main a:hover {
  color: #029443;
  text-decoration: none;
}

.nav-main .current-page,
.nav-main .current-page:hover {
  color: #747474;
  cursor: default;
}

/* MAIN CONTENT
------------------------------------------ */
main > .post:first-child > h1 {
  /* margin-top: 0.904em;*/
}

.gallery img {
  height: auto;
  border-radius: 8px;
  cursor: pointer;
  transition: .4s;
}

h1 {
  /*margin-bottom: .4125em;*/
}

.post-photo {
  /*float: left;
  margin-bottom: 2px;
  margin-right: 22px;
  max-width: 61.667%;*/
}

.post img {
  display: block;
  max-width: none;
  box-shadow: 6px 6px 10px grey;
  opacity: 1;
}

.post-blurb p {
  /*color: #363636;
  font-size: 1em;
  line-height: 1.4;*/
}

/* ::: Blog Post Footer ::: */
.post-footer {
  /*border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  padding-bottom: .7em;
  padding-top: .7em;*/
}

.post-footer time:before {
  /*content: '•  ';*/
}

.post-footer a {
  /*font-weight: bold;*/
}

.footer p {
  /* color: #3a3a3a;
   font-family: arial, helvetica, sans-serif;
   font-size: 0.688em;*/
}

.footer p small {
  /*font-size: inherit;*/
}

/* ::: Pagination Links Below Blog Posts ::: */
.pagination {
  /*margin: 45px 0 0;
  padding: 0;*/
}

.pagination li {
  /*display: inline-block;
  font: 0.875em arial, helvetica, sans-serif;
  margin-right: 0.25em;*/
}

/* Archives + Readings*/
#family-left, #family-right {
  display: block;
  font-style: italic;
  font-size: .9em;

  margin-bottom: .7em;
}

#family-left {
  float: left;
  margin-left: -3em;
  font-weight: bold;
  text-decoration: underline;
}

#family-right {
  text-align: right;
  font-weight: normal;
}

/*
.flip-archive {
  font-style: italic;
  font-weight: bold;
  font-size: .9em;
  text-align: right;
  display: block;
  margin-top: -1.5em;
  margin-bottom: .7em;
}
*/
/*
.archives-MD {
  float: left;
}


.normal-flip-archive {
  font-weight: normal;
  display: inline-block;
}
*/
/* Reading page */
main .readings {
  font-weight: bold;
}

main .title {
  font-weight: bold;
  margin-top: 0;
}

p.sumary {
  font-weight: normal;
  font-size: 1.12em;
}

main .books {
  width: 15%;
  float: left;
  height: auto;
  margin-right: 1.5em;
  margin-bottom: 1em;
  /*padding-right: 1.5em;*/
  /*padding-bottom: 1em;*/
  box-shadow: 2px 2px 15px grey;
}

/* SIDEBAR
------------------------------------------ */
.mod h2 {
  /*border-bottom: 1px solid #dbdbdb;
  margin-top: 2.571em;
  padding-bottom: .75em;*/
}

/* ::: About Me ::: */
.about {
  width: 18%;
  float: left;
  border: 1px solid black;;
  /*background: #2b2b2b; */
  padding: 0.313em 0.625em 0.625em;
  margin-right: 0.5em;
}

.about img {
  display: block;
  width: 75%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 18% 18% 7% 7%;
  box-shadow: 4px 4px 20px grey;
}

.about .signature {
  box-shadow: none;
  border-radius: unset;
  border: none;
  float: right;
}

.about h2,
.about p {
  color: black;
  text-align: left;
}

.about p {
  font-size: 0.813em;
  line-height: 1.4;
}

.map {
  /*margin: 1.438em 0 0.813em;*/
}

/* ::: Previous and Shared Posts ::: */
.links {
  /* margin: 1.5em 0 4.125em;
   padding-left: 0;
   width: 270px;*/
}

.links li {
  /* margin-bottom: 1.1em;*/
}

.links a {
  /* font-size: 1.125em;
   line-height: 1.195;*/
}

/* Family Photos */

/*Dropdown List*/

label:hover {
  cursor: pointer;
}

.names:before {
  content: "•";
  margin-right: 0.5em;

}

.names {
  font-weight: bold;
  font-style: italic;
}

label {
  width: 100%;
  display: block;
  z-index: 3;
  position: relative;
}

.sub-item {
  padding: 0 .2em;
}

.drop-down {
  width: 100%;
  background-color: white;
  overflow-x: hidden;
}

.drop-down ul {
  line-height: 20px;
  margin: 0;
  padding: 0 2em;
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
}

.drop-down li {
  line-height: 20px;
  margin: 0;
  padding: 0 2em;
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
}

label {
  line-height: 20px;
  margin: 0;
  /*padding: 0 2em;*/
  list-style: none;
  text-decoration: none;
  font-weight: 100;
  width: 100%;
}

.item ul {
  padding: 0 0.25em;
}

.drop-down li a {
  line-height: 20px;
  margin: 0;
  padding: 0 2.7em;
  list-style: none;
  text-decoration: none;
  font-weight: 100;
}

/* End Dropdown List*/

/* Search Photos */

fieldset {
  background-color: #f1f1f1;
  border: none;
  border-radius: 2px;
  margin-bottom: 12px;
  overflow: hidden;
  padding: 0 .625em;
}

.radios {
  background-color: transparent;
  position: relative;
  margin-bottom: 0;
}

.radios .row {
  margin: 0 0 0 150px;
}

.radios legend {
  left: 0;
  padding: 0 6px;
  position: absolute;
  text-align: right;
  top: 2px;
  width: 148px;
}

.radios label {
  padding-left: 2px;
  margin-right: 5px;
  vertical-align: middle;
  width: auto;
}

.fields {
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin: .75em;
  padding: .75em;
}

.fields .row {
  margin: 0.5em 0;
}

.find-photos h2 {
  background-color: #0d95e8;
}

label {
  cursor: pointer;
  display: inline-block;
  padding: 3px 6px;
  text-align: right;
  width: 150px;
  vertical-align: top;
}

input, select, button {
  font-size: inherit;
}

/* Various form field widths */
.field-small {
  width: 75px;
}

.field-medium {
  width: 150px;
}

.field-large {
  width: 250px;
}

/* End Search Photos */

/* End Family Photos */

/* FOOTER
------------------------------------------ */
footer[role="contentinfo"] {
  /*border-top: 1px solid #cacbcb;*/
}

/* html5boilerplate.com Clearfix
--------------------------------- */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

