.masthead {
  // Dropdown button and account
  &__dropdown {
    position: relative;
    display: inline-block;
    font-family: Raleway, "Times New Roman", serif;
    font-style: normal;
    font-size: small;
    .masthead__item {
      background-color: $color1;
    }
    &:hover {
      .masthead__dropdown-content {
        display: block;
      }
      .masthead__dropbtn {
        background-color: $color5;
      }
    }
  }
  &__dropbtn {
    margin-top: 8px;
    border: none;
    color: black;
    background-color: $color1;
  }
  &__dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    .masthead__item {
      color: black;
      padding-left: 24px;
      text-decoration: none;
      display: block;
      &:hover {
        background-color: $color5;
      }
    }
  }
  &__account {
    float: right;
    margin-top: 8px;
    background-color: $color1;
    border: none;
    font-family: Raleway, "Times New Roman", serif;
    font-style: normal;
    font-size: small;
    text-decoration: none;
  }
  // End dropdown button and account

  &__title {
    font-family: Alex Brush, "Times New Roman", serif;
    font-weight: $font-weight-darker;
    font-size: $font-larger;
    margin-bottom: 0;
    text-align: center;
    margin-top: 30px;
    &--index {
      margin-top: 5px;
    }
  }

  &__sub-title {
    font-family: Raleway, "Times New Roman", serif;
    font-style: italic;
    @include wsh-02;
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
  }

}

// Main navigation
.c-nav-main {
  font-family: Alex Brush, "Times New Roman", serif;
  font-weight: $font-weight-normal;
  font-size: $font-large;
  text-align: center;
  margin-top: 9px;
  border-bottom: 1px solid $color2;
  color: $color4;
  cursor: default;
  &__item {
    display: inline-block;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      .c-nav-main__link {
        padding-right: 0;
      }
    }
  }
  &__link {

    display: inline-block;
    font-size: 1.2em;
    padding: .2em .9em .5em 1.15em;
    &:hover {
      color: $color3;
    }
  }
}

.data-box {
  &__exit {
    font-weight: $font-weight-bold;
    width: 15%;
    float: right;
    text-align: right;
    cursor: pointer;
    padding-top: 25px;
    background-color: $color1;
    border: none;
  }
  &__h1 {
    font-size: x-large;
    text-align: right;
    float: left;
    &--info {
      width: 66%;
    }
    &--folder {
      width: 63%;
    }
    &--add-photos {
      width: 63%;
    }
  }
}
