//
// Reference table entries
//
.data-box {
  &__fieldset {
    width: 97.3%;
    height: 200px;
    &--reposit {
      height: 400px;
    }
    &--add-photo {
      height: 400px;
    }
    &--info {
      height: 500px;
    }
  }
  &__button {
    position: relative;
    top: 8px;
    left: 354px;
    font-size: small;
  }
  &__go-button {
    background-color: $color1;
    float: right;
    margin-right: 13px;
  }
  &__button-prev, &__button-next {
    background-color: $color1;
    border: none;
    cursor: pointer;
    @include hocus() {
      color: $color3;
    }
  }
  &__label {
    color: black;
    background-color: $color1;
    width: 20%;
    float: left;
    text-align: right;
    margin-left: 0;
    margin-right: 10px;
  }
  &__select {
    display: block;
    background-color: $color5;
  }
  &__input {
    position: relative;
    font-size: small;
    background-color: $color5;
    &--photos {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
  &__photo {
    width: auto;
    margin-top: 10px;
    text-align: center;
  }
  &__text {
    position: relative;
    top: -19px;
    font-size: small;
    background-color: $color5;
    &--photos {
      top: -25px;
    }
  }
}

//
// Index.php
//
.about {
  width: 18%;
  float: left;
  border: 1px solid black;;
  padding: 0.313em 0.625em 0.625em;
  margin-right: 0.5em;
  &__img-me {
    display: block;
    width: 75%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 18% 18% 7% 7%;
    box-shadow: 4px 4px 20px grey;
  }
  &__signature {
    box-shadow: none;
    border-radius: unset;
    border: none;
    float: right;
  }
  &__text {
    color: black;
    text-align: left;
    @include wsh-02;
  }
}

.home {
  &__img {
    display: block;
    max-width: none;
    box-shadow: 6px 6px 10px grey;
    opacity: 1;
  }
}

//
// Readings - menu and content
//
.menu1 {
  &__item {
    display: block;
    font-style: italic;
    font-size: .9em;
    margin-bottom: .7em;
    &--right {
      text-align: right;
      font-weight: normal;
    }
    &--left {
      float: left;
      margin-left: -3em;
      font-weight: bold;
      //text-decoration: underline;
    }
  }
}

.readings {
  font-weight: bold;
  &__books {
    @include templateImgTxt;
  }
  &__title {
    font-weight: bold;
    margin-top: 0;
  }
  &__summary {
    text-align: justify;
    @include wsh-01;
    a {
      text-decoration: underline;
      color: blue;
    }
  }
}

//
// Legacy
//

.legacy {
  &__left {
    width: 50%;
    float: left;
  }
  &__right {
    width: 50%;
    float: left;
  }
  &__title {
    margin-left: $spacing-normal;
  }
  &__items {
    list-style-type: circle;
    font-style: italic;
    @include wsh-01();
  }
  &__item {
    cursor: pointer;
    @include hocus() {
      color: $color3;
    }
  }
}

// Objects
.objects {
  &__img {
    @include templateImgTxt;
  }
  &__description {
    margin-top: 0;
    @include wsh-01;
  }
  &__modal-content {
    @include modal-content;
    @include animate01;
  }
  @include hocus() {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}

// Family photos
.search {
  padding-bottom: 1em;
  font-size: $font-small;
  &__go-button {
    width: auto;
    background-color: $color1;
    float: right;
    padding: 5px;
    margin-top: -1.4em;
  }
  &__section {
    padding-left: 0.4em;
  }
  &__fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0.35em 0.75em 0.625em;
    border: 1px groove;
  }
  &__search-button {
    float: right;
    background-color: $color1;
    border: none;
    font-family: Raleway, "Times New Roman", serif;
    font-style: normal;
    font-size: $font-small;
    text-decoration: none;
    font-weight: $font-weight-bold;
  }
  &__key-words {
    margin: .5em 0 0 0;
    width: 70%;
    float: left;
  }
  &__year-start {
    width: 100%;
    margin-top: 1.4em;
  }
  &__select {
    margin-left: 8px;
  }
  &__year-end {
    margin-right: .6em; /* to align boxes */
  }
  &__pid-context {
    width: 50%;
  }
  &__radio-button {
    margin-bottom: 0;
    padding: 0;
  }
  &__rb-label {
    margin-left: 9px;
  }
  &__check-box {
    margin-bottom: 1.3em;
    text-align: left
  }
  &__cb-label {
    margin-left: 9px;
  }
  &__check-box input[type="checkbox"] {
    display: inline-block;
  }
  &__check-box input {
    margin: 0 0 .6em 1px;
  }
  &__back-to-tree {
    float: right;
    cursor: pointer;
    border: none;
    background: none;
    display: none;
    margin-bottom: .5em;
  }
}

.photos {
  &__imgs {
    & > div {
      display: inline-block;
      vertical-align: top;
      margin-left: 16px;
      margin-bottom: 10px;
      padding: 7px;
      box-shadow: 4px 4px 10px grey;
      *display: inline;
      zoom: 1;
    }
    &:after {
      content: "";
      width: 100%;
      display: inline-block;
    }
  }
  &__modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.75); /* Black w/ opacity */
    & a {
      color: white;
    }
  }
  &__modal-content {
    @include modal-content;
    @include animate01;
  }
  &__next {
    position: relative;
    float: right;
    top: 40%;
  }
  &__previous {
    position: relative;
    float: left;
    top: 40%;
  }
  &__modal-title {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0 0;
    @include animate01;
  }
  &__caption {
    margin: auto;
    margin-top: 0;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    @include animate01;
  }
  &__id-geneol {
    width: 80%;
    margin: auto;
  }
  &__geneol {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    height: 150px;
    font-size: .8em;
    & a {
      color: aqua;
    }
    & p {
      color: white;
    }
  }
  &__photo-id p {
    position: fixed;
    bottom: 30px;
    left: 45px;
    margin: 0;
    font-size: small;
    color: #bbbbbb;
  }
  &__thumb-title {
    float: left;
    display: none;
    font-weight: bold;
    border: none;
    margin: 0;
  }
}

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
