@mixin vendor($property,$value...) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  #{$property}: $value;
}

@mixin hocus() {
  &:hover, &:focus {
    @content;
  }
}

@mixin templateImgTxt() {
  width: 15%;
  float: left;
  height: auto;
  margin-right: 1.5em;
  margin-bottom: 1em;
  box-shadow: 2px 2px 15px grey;
}

/// Weight-Size-Height
@mixin wsh-01() {
  font-weight: normal;
  font-size: $font-normal;
  line-height: $spacing-normal;
}

@mixin wsh-02() {
  font-weight: normal;
  font-size: $font-small;
  line-height: $spacing-small;
}

/// Add Animation to modal */
@mixin modal-content {
  background-color: #fefefe;
  padding: 5px;
  border: 2px solid #888;
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 80%;
}

@mixin animate01 {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

/// Block Element
/// @access public
/// @param {String} $element - Element's name
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

/// Block Modifier
/// @access public
/// @param {String} $modifier - Modifier's name
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

