//
// Reference table entries
//
.data-box {
  &__fieldset {
    width: 97.3%;
    height: 200px;
    &--reposit {
      height: 400px;
    }
    &--add-photo {
      height: 400px;
    }
    &--info {
      height: 500px;
    }
  }
  &__button {
    position: relative;
    top: 8px;
    left: 354px;
    font-size: small;
  }
  &__go-button {
    background-color: $color1;
    float: right;
    margin-right: 13px;
  }
  &__button-prev, &__button-next {
    background-color: $color1;
    border: none;
    cursor: pointer;
    @include hocus() {
      color: $color3;
    }
  }
  &__label {
    color: black;
    background-color: $color1;
    width: 20%;
    float: left;
    text-align: right;
    margin-left: 0;
    margin-right: 10px;
  }
  &__select {
    display: block;
    background-color: $color5;
  }
  &__input {
    position: relative;
    font-size: small;
    background-color: $color5;
    &--photos {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
  &__photo {
    width: auto;
    margin-top: 10px;
    text-align: center;
  }
  &__text {
    position: relative;
    top: -19px;
    font-size: small;
    background-color: $color5;
    &--photos {
      top: -25px;
    }
  }
}

//
// Index.php
//
.about {
  width: 18%;
  float: left;
  border: 1px solid black;;
  padding: 0.313em 0.625em 0.625em;
  margin-right: 0.5em;
  &__img-me {
    display: block;
    width: 75%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 18% 18% 7% 7%;
    box-shadow: 4px 4px 20px grey;
  }
  &__signature {
    box-shadow: none;
    border-radius: unset;
    border: none;
    float: right;
  }
  &__text {
    color: black;
    text-align: left;
    @include wsh-02;
  }
}

.home {
  &__img {
    display: block;
    max-width: none;
    box-shadow: 6px 6px 10px grey;
    opacity: 1;
  }
}

//
// Readings - menu and content
//
.menu1 {
  &__item {
    display: block;
    font-style: italic;
    font-size: .9em;
    margin-bottom: .7em;
    &--right {
      text-align: right;
      font-weight: normal;
    }
    &--left {
      float: left;
      margin-left: -3em;
      font-weight: bold;
      //text-decoration: underline;
    }
  }
}

.readings {
  font-weight: bold;
  &__books {
    @include templateImgTxt;
  }
  &__title {
    font-weight: bold;
    margin-top: 0;
  }
  &__summary {
    text-align: justify;
    @include wsh-01;
    a {
      text-decoration: underline;
      color: blue;
    }
  }
}

//
// Legacy
//

.legacy {
  &__left {
    width: 50%;
    float: left;
  }
  &__right {
    width: 50%;
    float: left;
  }
  &__title {
    margin-left: $spacing-normal;
  }
  &__items {
    list-style-type: circle;
    font-style: italic;
    @include wsh-01();
  }
  &__item {
    cursor: pointer;
    @include hocus() {
      color: $color3;
    }
  }
}

// Objects
.objects {
  &__img {
    @include templateImgTxt;
  }
  &__description {
    margin-top: 0;
    @include wsh-01;
  }
}

// Family photos
.search {
  padding-bottom: 1em;
  font-size: small;
  &__go-button {
    width: auto;
    background-color: white;
    float: right;
    padding: 5px;
    margin-top: -3px;
  }
  &__section {
    padding-left: 0.4em;

  }
  &__label {

  }
  &__fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding: 0.35em 0.75em 0.625em;
    border: 1px groove;
  }
  &__search-button {
    float: right;
    background-color: #fdfaf6;
    border: none;
    font-family: Raleway, "Times New Roman", serif;
    font-style: normal;
    font-size: small;
    text-decoration: none;
    font-weight: bold;
  }
  &__key-words {
    margin: .5em 0 0 0;
    width: 70%;
    float: left;
  }
  &__year-start {
    width: 100%;
    margin-top: 1.4em;
  }
  &__year-end {
    margin-right: .6em; /* to align boxes */
  }
  &__pid-context {
    width: 50%;
  }
}

/*.searchPhotos {
  padding-bottom: 1em;
  font-size: small;
}*/

.search__section label {
  display: inline-block;
  padding-right: 0.3em;
  text-align: left;
  width: auto;
}

/*.search__section {
  padding-left: 0.4em;
}*/
/*
.yearChoiceStart {
  width: 100%;
  margin-top: 1.4em;
}*/
/*
.yearChoiceEnd {
  margin-right: .6em; !* to align boxes *!
}*/

/*
fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0.35em 0.75em 0.625em;
  border: 1px groove;
}
*/

#searchFormButton {
  float: right;
  background-color: #fdfaf6;
  border: none;
  font-family: Raleway, "Times New Roman", serif;
  font-style: normal;
  font-size: small;
  text-decoration: none;
  /*margin-bottom: 20px;*/
}

#searchFormButton {
  font-weight: bold;
}

/*
#keywrds {
  margin: .5em 0 0 0;
  width: 70%;
  float: left;
}*/

.radio, .radio label, .context, .context label {
  margin-bottom: 0;
  padding: 0;
}

.pidContext {
  width: 50%;
}

#searchCb input[type="checkbox"] {
  display: inline-block;
}

#searchCb {
  margin-bottom: 1.3em;
  text-align: left
}

#searchCb input {
  margin: 0 0 .6em 1px;
}

#goButton {
  width: auto;
  background-color: white;
  float: right;
  padding: 5px;
  margin-top: -3px;
  /*border: 1px solid lightgrey;*/
}













