
.data-box {
  &__fieldset {
    width: 97.3%;
    height: 200px;
    &--reposit {
      height: 400px;
    }
    &--add-photo {
      height: 400px;
    }
    &--info {
      height: 500px;
    }
  }
  &__button {
    position: relative;
    top: 8px;
    left: 354px;
    font-size: small;
  }
  &__go-button {
    background-color: $color1;
    float: right;
    margin-right: 13px;
  }
  &__button-prev, &__button-next {
    background-color: $color1;
    border: none;
    cursor: pointer;
    @include hocus() {
      color: $color3;
    }
  }
  &__label {
    color: black;
    background-color: $color1;
    width: 20%;
    float: left;
    text-align: right;
    margin-left: 0;
    margin-right: 10px;
  }
  &__select {
    display: block;
    background-color: $color5;
  }
  &__input {
    position: relative;
    font-size: small;
    background-color: $color5;
    &--photos {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }
  &__photo {
    width: auto;
    margin-top: 10px;
    text-align: center;
  }
  &__text {
    position: relative;
    top: -19px;
    font-size: small;
    background-color: $color5;
    &--photos {
      top: -25px;
    }
  }
}












