body {
  /*
  margin: 20px;
  padding: 0;
  background: #333;
  */
}

.container {
  max-width: 960px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}

.main-img img, .imgs img {
  width: 100%;
}

#imgs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 6px;
  grid-auto-rows: minmax(100px, auto);
}

/* Fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
